## Question 1

In [1]:
# Ordinal Encoding is a technique that assigns a unique integer value to each category, based on their ordinal relationship
# Label Encoding is a technique that assigns a unique integer value to each category, without any specific order or relationship between the values. 

# For example, if we have a categorical feature "color" with the categories "red", "green", and "blue", we might assign the values 1, 2, and 3 i.e Label Encoding respectively. 
#  For example, if we have a categorical feature "education level" with the categories "High School", "College", and "Graduate School", we might assign the values 1, 2, and 3 i.e Ordinal Encoding respectively.

## Question 2

In [5]:
# Target Guided Ordinal Encoding is a technique used to transform categorical variables into numerical variables based on the target variable. This technique assigns a unique ordinal value to each category of the categorical variable, based on the mean of the target variable for each category.

# One example of when you might use Target Guided Ordinal Encoding in a machine learning project is when you have a categorical variable with a large number of categories, and you want to reduce the dimensionality of the data while preserving the relationship between the categories and the target variable

## Question 3

In [6]:
# Covariance is a measure of the extent to which two variables are linearly related. It is a statistical concept that describes the degree to which two variables vary together. 

# Covariance is important in statistical analysis because it provides insights into the relationship between two variables, which can help to understand the underlying patterns and trends in the data.

# covariance can be calculated by using following formula
# summation of i=1 to n ( ((xi-xmean)(yi-ymean))/(n-1) )

## Question 4

In [10]:
import pandas as pd
df=pd.DataFrame({
    'color':['red','green','blue','red','red','blue'],
    'size':['small','large','medium','small','large','medium'],
    'material':['wood','plastic','metal','wood','plastic','wood']
})
df

   color    size material
0    red   small     wood
1  green   large  plastic
2   blue  medium    metal
3    red   small     wood
4    red   large  plastic
5   blue  medium     wood

In [29]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
df['encoded_color']=encoder.fit_transform(df[['color']])
df['encoded_size']=encoder.fit_transform(df[['size']])
df['encoded_material']=encoder.fit_transform(df[['material']])

C:\Users\dodda\AppData\Roaming\Python\Python310\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\dodda\AppData\Roaming\Python\Python310\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\dodda\AppData\Roaming\Python\Python310\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [30]:
df

   color    size material  encoded_color  encoded_size  encoded_material
0    red   small     wood              2             2                 2
1  green   large  plastic              1             0                 1
2   blue  medium    metal              0             1                 0
3    red   small     wood              2             2                 2
4    red   large  plastic              2             0                 1
5   blue  medium     wood              0             1                 2

## Question 5

In [33]:
# Age, Income, and Education level.
df=pd.DataFrame({
    'age':[25,26,27,28,29],
    'income':[25000,26000,27000,28000,29000],
    'ed_level':['ms','phd','ms','ms','phd']
})
df

   age  income ed_level
0   25   25000       ms
1   26   26000      phd
2   27   27000       ms
3   28   28000       ms
4   29   29000      phd

In [38]:
df[['ed_level']]

  ed_level
0       ms
1      phd
2       ms
3       ms
4      phd

In [46]:
from sklearn.preprocessing import OrdinalEncoder
encoder=OrdinalEncoder(categories=[['ms','phd']])
df['encoded_ed_level']=encoder.fit_transform(df[['ed_level']])
df.cov()

                      age     income  encoded_ed_level
age                  2.50     2500.0              0.25
income            2500.00  2500000.0            250.00
encoded_ed_level     0.25      250.0              0.30

## Question 6

In [60]:

# df containing features :
#     "Gender" (Male/Female)
#     "Education Level" (High School/Bachelor's/Master's/PhD)
#     "Employment Status" (Unemployed/Part-Time/Full-Time)

# for GENDER feature - LabelEncoder because we cannot rank for male/female
# for EDUCATION_LEVEL - Ordinal Encoder because we can give rank
# for EMPLOYED_STATUS - Label Encoder because we cannot give rank

## Question 7

In [74]:
df=pd.DataFrame({
    'temp':[25,26,27,28,29,30],
    'humidity':[16,17,18,19,20,21],
    'weather':['sunny','cloudy','sunny','rainy','rainy','cloudy'],
    'wind':['north','south','west','north','east','west']
})

In [75]:
df

   temp  humidity weather   wind
0    25        16   sunny  north
1    26        17  cloudy  south
2    27        18   sunny   west
3    28        19   rainy  north
4    29        20   rainy   east
5    30        21  cloudy   west

In [76]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
df['weather_enc']=encoder.fit_transform(df[['weather']])
df['wind_enc']=encoder.fit_transform(df[['wind']])
df

C:\Users\dodda\AppData\Roaming\Python\Python310\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\dodda\AppData\Roaming\Python\Python310\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

   temp  humidity weather   wind  weather_enc  wind_enc
0    25        16   sunny  north            2         1
1    26        17  cloudy  south            0         2
2    27        18   sunny   west            2         3
3    28        19   rainy  north            1         1
4    29        20   rainy   east            1         0
5    30        21  cloudy   west            0         3

In [77]:
df.cov()

             temp  humidity  weather_enc  wind_enc
temp          3.5       3.5         -0.8  0.200000
humidity      3.5       3.5         -0.8  0.200000
weather_enc  -0.8      -0.8          0.8 -0.200000
wind_enc      0.2       0.2         -0.2  1.466667