In [1]:
import pandas as pd

## Question 1

In [35]:
#1 read_csv
df=pd.read_csv('titanic.csv')
print("read_csv : \n" ,df.head(1))
print("\n")
#2 Dataframe
d={'c1':[1,2],'c2':[3,4]}
df1=pd.DataFrame(d)
print("Dataframe : \n",df1)
print("\n")
#3 Timedelta
a=pd.Timedelta(days=1,hours=1,minutes=1,seconds=1)
print("timedelta : ",a)
#4 Series
s=pd.Series([i for i in range(10)])
print("series : \n",s)
#5 eval
print("eval : \n",pd.eval('6+4-1+42-4+2/8+5*46'))

read_csv :
    PassengerId  Survived  Pclass                     Name   Sex   Age  SibSp  \
0            1         0       3  Braund, Mr. Owen Harris  male  22.0      1

   Parch     Ticket  Fare Cabin Embarked
0      0  A/5 21171  7.25   NaN        S


Dataframe :
    c1  c2
0   1   3
1   2   4


timedelta :  1 days 01:01:01
series :
 0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64
eval :
 277.25

## Question 2

In [51]:
d={
    'A':[11,12,13],
    'B':[21,22,23],
    'C':[31,32,33]
}
df=pd.DataFrame(d)
df.reindex([1,4,7],fill_value=0)

    A   B   C
1  12  22  32
4   0   0   0
7   0   0   0

## Question 3

In [65]:
d={
    'values':[1,2,3,6,5,4,7,8]
}
df=pd.DataFrame(d)
print(df)
temp=0
s=0
for i in df.iterrows():
    if temp<4:
        s=s+i[0]
    temp+=1
print("\nsum of first three values : ",s)

   values
0       1
1       2
2       3
3       6
4       5
5       4
6       7
7       8

sum of first three values :  6

## Question 4

In [91]:
d={
    'text':['hello there i am sai sachin.how are you?','i hav been more alchohol for past five days','did you check on me']
}
df=pd.DataFrame(d)
df['word_count']=df['text'].apply(lambda x : len(x.split()))
df

                                          text  word_count
0     hello there i am sai sachin.how are you?           8
1  i hav been more alchohol for past five days           9
2                          did you check on me           5

## Question 5

In [93]:
#dataframe.size-Returns size of dataframe/series which is equivalent to total number of elements. That is rows x columns.
# dataframe.shape-Returns tuple of shape (Rows, columns) of dataframe/series

## Question 6

In [94]:
# pd.read_excel()

## Question 7

In [102]:
d={
    'email':['sai@gmail.com','sachin@gmail.com','chow@gmail.com','kya@gmail.com']
}
df=pd.DataFrame(d)
def func(s):
    sl=s.split('@')
    return sl[0]
df['name']=df['email'].apply(func)
df

              email    name
0     sai@gmail.com     sai
1  sachin@gmail.com  sachin
2    chow@gmail.com    chow
3     kya@gmail.com     kya

## Question 8

In [116]:
d={
    'A':[3,8,6,2,9],
    'B':[5,2,9,3,1],
    'C':[1,7,4,5,2]
}
df=pd.DataFrame(d)
df1=df[(df['A']>5) & (df['B']<10)]
df1

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

## Question 9

In [126]:
d={
    'values':[1,4,2,5,3,99,6,9,7,8]
}
df=pd.DataFrame(d)
print('mean : ',df['values'].mean())
print('median : ',df['values'].median())
print('standard deviation : ',df['values'].std())

mean :  14.4
median :  5.5
standard deviation :  29.83733678910815

## Question 10

In [166]:
date_list=pd.date_range(start='2021-01-01',end='2021-02-20')
sales_list=[56000,68400,684605,987456,123654,963258,258465,9832456,753196]
import random
new_list=[]
for i in range(51):
    idx=random.randint(0,len(sales_list)-1)
    new_list.append(sales_list[idx])
d={
    'sales':[i for i in new_list],
    'Date':[i for i in date_list]
}
df=pd.DataFrame(d)
df['MovingAverage']=df.rolling(window=7).mean()
df.head()

C:\Users\dodda\AppData\Local\Temp\ipykernel_18840\1156392352.py:13: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['Date'], dtype='object')
  df['MovingAverage']=df.rolling(window=7).mean()

    sales       Date  MovingAverage
0  123654 2021-01-01            NaN
1  684605 2021-01-02            NaN
2  753196 2021-01-03            NaN
3   56000 2021-01-04            NaN
4  963258 2021-01-05            NaN

## Question 11

In [181]:
date_list=pd.date_range('2023-01-01','2023-01-06')
days_list=[]
for i in date_list:
    days_list.append(i.day_name())
d={
    'Date':[i for i in date_list],
    'Weekday':[i for i in days_list]
}
print((date_list[0].day_name()))
df1=pd.DataFrame(d)
df1

Sunday

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday
5 2023-01-06     Friday

## Question 12

In [206]:
#  '2023-01-01' and '2023-01-31'
lis=pd.date_range('2023-01-01','2023-06-29')
d={
    'Date':[i for i in lis]
}
df=pd.DataFrame(d)
df['Date']=pd.to_datetime(df['Date'])
df[df['Date'].dt.dayofyear<=31]

         Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05
5  2023-01-06
6  2023-01-07
7  2023-01-08
8  2023-01-09
9  2023-01-10
10 2023-01-11
11 2023-01-12
12 2023-01-13
13 2023-01-14
14 2023-01-15
15 2023-01-16
16 2023-01-17
17 2023-01-18
18 2023-01-19
19 2023-01-20
20 2023-01-21
21 2023-01-22
22 2023-01-23
23 2023-01-24
24 2023-01-25
25 2023-01-26
26 2023-01-27
27 2023-01-28
28 2023-01-29
29 2023-01-30
30 2023-01-31

## Question 13

In [ ]:
# pandas